In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("tmdb-movies.csv")

In [25]:
df.columns

Index(['id', 'imdb_id', 'popularity', 'budget', 'revenue', 'original_title',
       'cast', 'homepage', 'director', 'tagline', 'keywords', 'overview',
       'runtime', 'genres', 'production_companies', 'release_date',
       'vote_count', 'vote_average', 'release_year', 'budget_adj',
       'revenue_adj'],
      dtype='object')

In [26]:
df_original_title = df['original_title']

In [3]:
df_budget = df["budget"]

In [4]:
df_budget

0        150000000
1        150000000
2        110000000
3        200000000
4        190000000
           ...
10861            0
10862            0
10863            0
10864            0
10865        19000
Name: budget, Length: 10866, dtype: int64

In [5]:
df_budget.isnull()

0        False
1        False
2        False
3        False
4        False
         ...
10861    False
10862    False
10863    False
10864    False
10865    False
Name: budget, Length: 10866, dtype: bool

In [6]:
df_budget.dropna()

0        150000000
1        150000000
2        110000000
3        200000000
4        190000000
           ...
10861            0
10862            0
10863            0
10864            0
10865        19000
Name: budget, Length: 10866, dtype: int64

In [7]:
import numpy as np
np.mean(df_budget)

14625701.09414688

In [8]:
df_budget.describe()

count    1.086600e+04
mean     1.462570e+07
std      3.091321e+07
min      0.000000e+00
25%      0.000000e+00
50%      0.000000e+00
75%      1.500000e+07
max      4.250000e+08
Name: budget, dtype: float64

In [9]:
df_budget.drop(df_budget.index[df['budget']<=19000],inplace = True)

In [10]:
df_budget.describe()

count    5.094000e+03
mean     3.119802e+07
std      3.900684e+07
min      2.000000e+04
25%      6.000000e+06
50%      1.800000e+07
75%      4.000000e+07
max      4.250000e+08
Name: budget, dtype: float64

In [11]:
sorted_df = df_budget.sort_values()

In [12]:
sorted_df

3247         20000
10538        22500
9559         23000
7781         25000
2449         25000
           ...
6570     270000000
14       280000000
7387     300000000
3375     380000000
2244     425000000
Name: budget, Length: 5094, dtype: int64

In [13]:
import numpy as np

In [14]:
q1,q3 = np.percentile(sorted_df,[25,75])

In [15]:
q1,q3

(6000000.0, 40000000.0)

In [16]:
iqr = q3-q1

In [17]:
iqr

34000000.0

In [18]:
lower_bound = q1-(1.5*iqr)
upper_bound = q3+(1.5*iqr)
lower_bound,upper_bound

(-45000000.0, 91000000.0)

In [19]:
mean_budget = np.mean(sorted_df)

In [20]:
mean_budget

31198017.901649

In [21]:
sorted_df[(sorted_df>lower_bound) & (sorted_df<upper_bound)]

3247        20000
10538       22500
9559        23000
7781        25000
2449        25000
           ...
3384     90000000
2441     90000000
665      90000000
8717     90000000
5004     90000000
Name: budget, Length: 4742, dtype: int64

In [22]:
sorted_df[2:3]

9559    23000
Name: budget, dtype: int64

In [23]:
sorted_df[4740:4741]

8717    90000000
Name: budget, dtype: int64

In [27]:
df_original_title[9559]

'Hollywood Chainsaw Hookers'

In [28]:
df_original_title[8717]

'Mission to Mars'